%%-*- mode: erlang -*-
%% ex: ft=erlang

{deps, [
       {jsonx,             {git, "https://github.com/iskra/jsonx.git",                                  {branch, master}}},
       {kvc,               {git, "https://github.com/etrepum/kvc.git",                                  {branch, master}}},
       {cowboy,            {git, "git://github.com/ninenines/cowboy.git",                               {tag, "2.6.0"}}},
       {mysql_poolboy,     {git, "https://github.com/mysql-otp/mysql-otp-poolboy",                      {tag, "0.1.9"}}}
]}.

{project_plugins, [covertool]}.

{profiles, [
    {test, [
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck.git", {branch, master}}}
        ]},
        {erl_opts, [debug_info]}
    ]},
    {default, [
        {config, "erl.config"}
        ]}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}. % emit coverage summary to stdout

{ct_opts, [
    {sys_config, "erl.config"},
    {dir, "test/ct/src"},
    {logdir, "test/ct/logs"},
    {ct_hooks, [cth_surefire]},
    {spec, "test/ct/src/ct.test.spec"}
]}.

{erl_opts, [debug_info]}.
{shell, [
    {config, "erl.config"},
    {apps, [genesearcher]}
]}.

{relx, [
    {release, {"genesearcher", semver}, ["genesearcher"]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{overrides, [
    %% jsonx has rebar2 style nif port_spec/port_env compilation, so handle it
    {override, jsonx, [
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.
