%%-*- mode: erlang -*-
[
    {genesearcher, [
        {'http_port', 8080},
        {'ensembldb_pool_size', 5},
        {'ensembldb_pool_max_overflow', 10},
        {'ensembldb_host', "ensembldb.ensembl.org"},
        {'ensembldb_port', 3306},
        {'ensembldb_database', "ensembl_website_90"},
        {'ensembldb_user', <<"anonymous">>},
        {'ensembldb_password', undefined},
        {'gene_suggest_limit', 10}
    ]}
].
% vim:ft=erlang
